Thumbs.db
*.obj
*.exe
*.pdb
*.user
*.aps
*.pch
*.vspscc
*_i.c
*_p.c
*.ncb
*.suo
*.sln.docstates
*.tlb
*.tlh
*.bak
*.cache
*.ilk
*.log
[Bb]in
[Dd]ebug*/
*.lib
*.sbr
obj/
[Rr]elease*/
_ReSharper*/
[Tt]est[Rr]esult*
/GaiaPulseData/GaiaPulseData/GaiaPulseData.csproj
/GaiaPulseData/GaiaPulseData/GaiaPulseData.csproj.Debug.cachefile
/GaiaPulseData/GaiaPulseData/Game.ico
/GaiaPulseData/GaiaPulseData/Game1.cs
/GaiaPulseData/GaiaPulseData/GameThumbnail.png
/GaiaPulseData/GaiaPulseData/Program.cs
/GaiaPulseData/GaiaPulseData/Properties/AssemblyInfo.cs
/GaiaPulseData/GaiaPulseDataContent/1x1.png
/GaiaPulseData/GaiaPulseDataContent/AnchorPoint.png
/GaiaPulseData/GaiaPulseDataContent/Fonts/Courier New.spritefont
/GaiaPulseData/GaiaPulseDataContent/GaiaPulseDataContent.contentproj
/GaiaPulseData/GaiaPulseDataContent/pixelmarker.png
/GaiaPulse/GaiaPulse_TemporaryKey.pfx
/GaiaPulse/Global.cs
/GaiaPulse/GlobalOptions.Designer.cs
/GaiaPulse/GlobalOptions.cs
/GaiaPulse/GlobalOptions.resx
/GaiaPulse/Helper.cs
/GaiaPulse/Longinus.pfx
/GaiaPulse/PartManager/EditorControl.cs
/GaiaPulse/PartManager/EditorData/Camera.cs
/GaiaPulse/PartManager/EditorData/Input.cs
/GaiaPulse/PartManager/EditorData/TemporaryEditorPart.cs
/GaiaPulse/PartManager/PartCostumeSelect.Designer.cs
/GaiaPulse/PartManager/PartCostumeSelect.cs
/GaiaPulse/PartManager/PartCostumeSelect.resx
/GaiaPulse/PartManager/PartData/Anchor.cs
/GaiaPulse/PartManager/PartData/PartCommonData.cs
/GaiaPulse/PartManager/PartData/PartSaveLoad.cs
/GaiaPulse/PartManager/PartEditor.Designer.cs
/GaiaPulse/PartManager/PartEditor.cs
/GaiaPulse/PartManager/PartEditor.resx
/GaiaPulse/PartManager/PartMain.Designer.cs
/GaiaPulse/PartManager/PartMain.cs
/GaiaPulse/PartManager/PartMain.resx
/GaiaPulse/PartManager/TextureAssign.Designer.cs
/GaiaPulse/PartManager/TextureAssign.cs
/GaiaPulse/PartManager/TextureAssign.resx
/GaiaPulse/SC/DeferredDrawingSystem/DDSList.cs
/GaiaPulse/SC/DeferredDrawingSystem/DDSObject.cs
/GaiaPulse/SC/GaiaPulse/Animation.cs
/GaiaPulse/SC/GaiaPulse/EntityFrame.cs
/GaiaPulse/SC/GaiaPulse/Frame.cs
/GaiaPulse/SC/GaiaPulse/Part.cs
/GaiaPulse/AnimationManager/AnimationEditorControl.cs
/GaiaPulse/AnimationManager/AnimationMain.Designer.cs
/GaiaPulse/AnimationManager/AnimationMain.cs
/GaiaPulse/AnimationManager/AnimationMain.resx
/GaiaPulse/AnimationManager/DataDevices/AnimationProfile.cs
/GaiaPulse/AnimationManager/DataDevices/FrameData.cs
/GaiaPulse/AnimationManager/DataDevices/PartTag.cs
/GaiaPulse/AnimationManager/DataDevices/PartTree.cs
/GaiaPulse/CharacterScreen.Designer.cs
/GaiaPulse/CharacterScreen.cs
/GaiaPulse/CharacterScreen.resx
/GaiaPulse/CurrentCommitNotes.txt
/GaiaPulse/EntryForm.Designer.cs
/GaiaPulse/EntryForm.cs
/GaiaPulse/EntryForm.resx
/GaiaPulse/TextureManager/CostumeAssign.Designer.cs
/GaiaPulse/TextureManager/CostumeAssign.cs
/GaiaPulse/TextureManager/CostumeAssign.resx
/GaiaPulse/TextureManager/TextureMain.Designer.cs
/GaiaPulse/TextureManager/TextureMain.cs
/GaiaPulse/TextureManager/TextureMain.resx
/GaiaPulse/TextureManager/TextureProfile.cs
/GaiaPulse/TextureManager/TextureViewer.Designer.cs
/GaiaPulse/TextureManager/TextureViewer.cs
/GaiaPulse/TextureManager/TextureViewer.resx
/GaiaPulse/ToDoList.cs
/GaiaPulse/SC/GaiaPulse/Animation.cs
/GaiaPulse/SC/GaiaPulse/EntityFrame.cs
/GaiaPulse/SC/GaiaPulse/Frame.cs
/GaiaPulse/SC/GaiaPulse/Part.cs
/GaiaPulse/TextureManager/CostumeAssign.Designer.cs
/GaiaPulse/TextureManager/CostumeAssign.cs
/GaiaPulse/TextureManager/CostumeAssign.resx
/GaiaPulse/TextureManager/TextureMain.Designer.cs
/GaiaPulse/TextureManager/TextureMain.cs
/GaiaPulse/TextureManager/TextureMain.resx
/GaiaPulse/TextureManager/TextureProfile.cs
/GaiaPulse/TextureManager/TextureViewer.Designer.cs
/GaiaPulse/TextureManager/TextureViewer.cs
/GaiaPulse/TextureManager/TextureViewer.resx
/GaiaPulse/ToDoList.cs
/GaiaPulse/AnimationManager/AnimationEditorControl.cs
/GaiaPulse/AnimationManager/AnimationMain.Designer.cs
/GaiaPulse/AnimationManager/AnimationMain.cs
/GaiaPulse/AnimationManager/AnimationMain.resx
/GaiaPulse/AnimationManager/DataDevices/AnimationProfile.cs
/GaiaPulse/AnimationManager/DataDevices/FrameData.cs
/GaiaPulse/AnimationManager/DataDevices/PartTag.cs
/GaiaPulse/AnimationManager/DataDevices/PartTree.cs
/GaiaPulse/CharacterScreen.Designer.cs
/GaiaPulse/CharacterScreen.cs
/GaiaPulse/CharacterScreen.resx
/GaiaPulse/CurrentCommitNotes.txt
/GaiaPulse/EntryForm.Designer.cs
/GaiaPulse/EntryForm.cs
/GaiaPulse/EntryForm.resx
/GaiaPulse/GaiaPulse_TemporaryKey.pfx
/GaiaPulse/Global.cs
/GaiaPulse/GlobalOptions.Designer.cs
/GaiaPulse/GlobalOptions.cs
/GaiaPulse/GlobalOptions.resx
/GaiaPulse/Helper.cs
/GaiaPulse/Longinus.pfx
/GaiaPulse/PartManager/EditorControl.cs
/GaiaPulse/PartManager/EditorData/Camera.cs
/GaiaPulse/PartManager/EditorData/Input.cs
/GaiaPulse/PartManager/EditorData/TemporaryEditorPart.cs
/GaiaPulse/PartManager/PartCostumeSelect.Designer.cs
/GaiaPulse/PartManager/PartCostumeSelect.cs
/GaiaPulse/PartManager/PartCostumeSelect.resx
/GaiaPulse/PartManager/PartData/Anchor.cs
/GaiaPulse/PartManager/PartData/PartCommonData.cs
/GaiaPulse/PartManager/PartData/PartSaveLoad.cs
/GaiaPulse/PartManager/PartEditor.Designer.cs
/GaiaPulse/PartManager/PartEditor.cs
/GaiaPulse/PartManager/PartEditor.resx
/GaiaPulse/PartManager/PartMain.Designer.cs
/GaiaPulse/PartManager/PartMain.cs
/GaiaPulse/PartManager/PartMain.resx
/GaiaPulse/PartManager/TextureAssign.Designer.cs
/GaiaPulse/PartManager/TextureAssign.cs
/GaiaPulse/PartManager/TextureAssign.resx
/GaiaPulse/SC/DeferredDrawingSystem/DDSList.cs
/GaiaPulse/SC/DeferredDrawingSystem/DDSObject.cs
/GaiaPulse/SC/GaiaPulse/Animation.cs
/GaiaPulse/SC/GaiaPulse/EntityFrame.cs
/GaiaPulse/SC/GaiaPulse/Frame.cs
/GaiaPulse/SC/GaiaPulse/Part.cs
/GaiaPulse/TextureManager/CostumeAssign.Designer.cs
/GaiaPulse/TextureManager/CostumeAssign.cs
/GaiaPulse/TextureManager/CostumeAssign.resx
/GaiaPulse/TextureManager/TextureMain.Designer.cs
/GaiaPulse/TextureManager/TextureMain.cs
/GaiaPulse/TextureManager/TextureMain.resx
/GaiaPulse/TextureManager/TextureProfile.cs
/GaiaPulse/TextureManager/TextureViewer.Designer.cs
/GaiaPulse/TextureManager/TextureViewer.cs
/GaiaPulse/TextureManager/TextureViewer.resx
/GaiaPulse/ToDoList.cs
/GaiaPulse/AnimationManager/AnimationEditorControl.cs
/GaiaPulse/AnimationManager/AnimationMain.Designer.cs
/GaiaPulse/AnimationManager/AnimationMain.cs
/GaiaPulse/AnimationManager/AnimationMain.resx
/GaiaPulse/AnimationManager/DataDevices/AnimationProfile.cs
/GaiaPulse/AnimationManager/DataDevices/FrameData.cs
/GaiaPulse/AnimationManager/DataDevices/PartTag.cs
/GaiaPulse/AnimationManager/DataDevices/PartTree.cs
/GaiaPulse/CharacterScreen.Designer.cs
/GaiaPulse/CharacterScreen.cs
/GaiaPulse/CharacterScreen.resx
/GaiaPulse/CurrentCommitNotes.txt
/GaiaPulse/EntryForm.Designer.cs
/GaiaPulse/EntryForm.cs
/GaiaPulse/EntryForm.resx
/GaiaPulse/GaiaPulse_TemporaryKey.pfx
/GaiaPulse/Global.cs
/GaiaPulse/GlobalOptions.Designer.cs
/GaiaPulse/GlobalOptions.cs
/GaiaPulse/GlobalOptions.resx
/GaiaPulse/Helper.cs
/GaiaPulse/Longinus.pfx
/GaiaPulse/PartManager/EditorControl.cs
/GaiaPulse/PartManager/EditorData/Camera.cs
/GaiaPulse/PartManager/EditorData/Input.cs
/GaiaPulse/PartManager/EditorData/TemporaryEditorPart.cs
/GaiaPulse/PartManager/PartCostumeSelect.Designer.cs
/GaiaPulse/PartManager/PartCostumeSelect.cs
/GaiaPulse/PartManager/PartCostumeSelect.resx
/GaiaPulse/PartManager/PartData/Anchor.cs
/GaiaPulse/PartManager/PartData/PartCommonData.cs
/GaiaPulse/PartManager/PartData/PartSaveLoad.cs
/GaiaPulse/PartManager/PartEditor.Designer.cs
/GaiaPulse/PartManager/PartEditor.cs
/GaiaPulse/PartManager/PartEditor.resx
/GaiaPulse/PartManager/PartMain.Designer.cs
/GaiaPulse/PartManager/PartMain.cs
/GaiaPulse/PartManager/PartMain.resx
/GaiaPulse/PartManager/TextureAssign.Designer.cs
/GaiaPulse/PartManager/TextureAssign.cs
/GaiaPulse/PartManager/TextureAssign.resx
/GaiaPulse/SC/DeferredDrawingSystem/DDSList.cs
/GaiaPulse/SC/DeferredDrawingSystem/DDSObject.cs
/GaiaPulse/SC/GaiaPulse/Animation.cs
/GaiaPulse/SC/GaiaPulse/EntityFrame.cs
/GaiaPulse/SC/GaiaPulse/Frame.cs
/GaiaPulse/SC/GaiaPulse/Part.cs
/GaiaPulse/TextureManager/CostumeAssign.Designer.cs
/GaiaPulse/TextureManager/CostumeAssign.cs
/GaiaPulse/TextureManager/CostumeAssign.resx
/GaiaPulse/TextureManager/TextureMain.Designer.cs
/GaiaPulse/TextureManager/TextureMain.cs
/GaiaPulse/TextureManager/TextureMain.resx
/GaiaPulse/TextureManager/TextureProfile.cs
/GaiaPulse/TextureManager/TextureViewer.Designer.cs
/GaiaPulse/TextureManager/TextureViewer.cs
/GaiaPulse/TextureManager/TextureViewer.resx
/GaiaPulse/ToDoList.cs