Thumbs.db
*.obj
*.exe
*.pdb
*.user
*.aps
*.pch
*.vspscc
*_i.c
*_p.c
*.ncb
*.suo
*.sln.docstates
*.tlb
*.tlh
*.bak
*.cache
*.ilk
*.log
[Bb]in
[Dd]ebug*/
*.lib
*.sbr
obj/
[Rr]elease*/
_ReSharper*/
[Tt]est[Rr]esult*
/GaiaPulseData/GaiaPulseData/GaiaPulseData.csproj
/GaiaPulseData/GaiaPulseData/GaiaPulseData.csproj.Debug.cachefile
/GaiaPulseData/GaiaPulseData/Game.ico
/GaiaPulseData/GaiaPulseData/Game1.cs
/GaiaPulseData/GaiaPulseData/GameThumbnail.png
/GaiaPulseData/GaiaPulseData/Program.cs
/GaiaPulseData/GaiaPulseData/Properties/AssemblyInfo.cs
/GaiaPulseData/GaiaPulseDataContent/1x1.png
/GaiaPulseData/GaiaPulseDataContent/AnchorPoint.png
/GaiaPulseData/GaiaPulseDataContent/Fonts/Courier New.spritefont
/GaiaPulseData/GaiaPulseDataContent/GaiaPulseDataContent.contentproj
/GaiaPulseData/GaiaPulseDataContent/pixelmarker.png